:root {
  --animation-duration: 500ms;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1vw;
}


@media all and (min-width: 1000px) {
  html {
    font-size: 10px;
  }
}

body {
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

#app {
  position: relative;
  width: 100vw;
  max-width: 100rem;
  margin: 0 auto;
}

#bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 380rem;
  transition: filter var(--animation-duration);
  pointer-events: none;
  background: #fff url(bg.png) no-repeat scroll 0 -20rem;
  background-size: 120rem;
}

.lock #bg {
  filter: blur(20px);
}

.project {
  position: absolute;
  transition: opacity var(--animation-duration);
  opacity: 1;
}

.lock .project {
  opacity: 0;
}

.project[data-project="1"] {
  top: 55rem;
  left: 73rem;
}

.project > a {
  line-height: 20rem;
  position: absolute;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all var(--animation-duration);
  animation: wobble 5s infinite;
  text-align: center;
  opacity: 1;
  border-radius: 10rem;
  background: #ffd838aa;
}

.project.opened > a {
  line-height: 0;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  animation: none;
  opacity: 0.5;
}


.works {
  position: absolute;
}

.opened .works {
}

[data-work] > a {
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  margin-top: 0;
  margin-left: 0;
  transition: all var(--animation-duration);
  text-align: center;
  opacity: 0;
  border-radius: 8rem;
}


.opened [data-work] > a {
  line-height: 16rem;
  width: 16rem;
  height: 16rem;
  margin-top: -8rem;
  margin-left: -8rem;
  animation: wobble 8s infinite;
  opacity: 1;
}

@keyframes wobble {
  30% {
    transform: scale(1.0);
  }
  33% {
    transform: scale(1.10);
  }
  35% {
    transform: scale(0.94);
  }
  36% {
    transform: scale(1.0);
  }
  37% {
    transform: scale(1.02);
  }
  38% {
    transform: scale(1.00);
  }
}

[data-work="1"] > a {
  background: #eeab99aa;
}

[data-work="2"] > a {
  background: #bd86c4aa;
}

[data-work="3"] > a {
  background: #ffd838aa;
}

.opened [data-work="1"] > a {
  top: 6rem;
  left: -15rem;
}

.opened [data-work="2"] > a {
  top: 4rem;
  left: 16rem;
}

.opened [data-work="3"] > a {
  top: 17rem;
  left: 2rem;
}

#popup {
  position: fixed;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  border-radius: 50vmax;
}

#popup.animated {
  transition: all var(--animation-duration), border-radius 300ms ease 0ms;
}

#popup.opened {
  width: 100vw;
  height: 100vh;
  transition: all var(--animation-duration), border-radius 300ms ease 200ms;
  pointer-events: all;
  opacity: 1;
  border-radius: 0;
}

#popup .content {

}
