/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

:root {
  --animation-duration: 500ms;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1vw;
  color: #333;
  font-kerning: normal;
}

@media all and (min-width: 1000px) {
  html {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body.lock {
  overflow: hidden;
}

#app {
  position: relative;
  width: 100vw;
  max-width: 100rem;
  height: 100%;
  min-height: 240rem;
  margin: 0 auto;
}

#girl, #girl-blink {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 1rem 15rem;
  background-size: 60rem;
}

#girl, #girl-blink {
  background-color: #fff;
  background-image: url("./img/girl.png");
}

#girl-blink {
  transition: opacity 200ms;
  opacity: 0;
  background-color: transparent;
  background-image: url("./img/girl-blink.png");
}

.blink {
  animation: blink 500ms ease-in;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.project {
  position: absolute;
}

.project[data-project="illustration"] {
  top: 93rem;
  left: 53rem;
}

.project[data-project="illustration"] > a svg .fill {
  fill: #efda63;
}

.project[data-project="illustration"] > a {
  width: 20rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
}

.project > a {
  position: absolute;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: transform var(--animation-duration), opacity var(--animation-duration);
  opacity: 1;
}

.project > a > svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project > a .label {
  font-size: 3.3rem;
  font-weight: 200;
  position: relative;
  transition: opacity var(--animation-duration);
  text-decoration: none;
  text-transform: lowercase;
}

.project > a svg {
  animation: wobble 5s infinite;
}

.project > a:hover svg {
  animation-play-state: paused;
}

.project.opened > a {
  transform: scale(0.4);
  animation: none;
  opacity: 0.7;
}

.project.opened > a svg {
  animation-play-state: paused;
}

.lock .project > a svg {
  animation-play-state: paused;
}

.project.opened > a .label {
  opacity: 0;
}

.works {
  position: absolute;
}

.opened .works {
}

.work {
  pointer-events: none;
}

.opened .work {
  pointer-events: all;
}

.work .label {
  font-size: 1.7rem;
  font-weight: 200;
  position: absolute;
  bottom: -2em;
  margin-left: -0.8em;
  padding: 0.7em 0.3em;
  text-align: right;
  border-radius: 0.2em;
  background: #ffffffcc;
}

.work > a {
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  margin-top: 0;
  margin-left: 0;
  transition-duration: var(--animation-duration);
  transition-property: width, height, left, top, margin, opacity;
  text-align: center;
  opacity: 0;
  border-radius: 50%;
}

.opened .work > a {
  width: 20rem;
  height: 20rem;
  margin-top: -8rem;
  margin-left: -8rem;
  animation: wobble 8s infinite;
  opacity: 1;
  background: #ffffffaa;
}

.opened .work > a:hover {
  animation-play-state: paused;
}

.lock .work > a {
  animation-play-state: paused;
}

@keyframes wobble {
  30% {
    transform: scale(1.0);
  }
  33% {
    transform: scale(1.10);
  }
  35% {
    transform: scale(0.94);
  }
  36% {
    transform: scale(1.0);
  }
  37% {
    transform: scale(1.02);
  }
  38% {
    transform: scale(1.00);
  }
}

.work > a svg .background {
  fill: none;
}

.work > a .img svg {
  top: 20%;
  left: 15%;
  width: 40%;
  height: 40%;
  transform: rotate(0);
}

.work > a .img {
  padding: 0.5rem;
}

[data-work="kz"] > a svg {
  transform: rotate(20deg);
}

[data-work="kz"] > a svg .fill {
  fill: #f4a988;
}

[data-work="names"] > a svg {
  transform: rotate(200deg);
}

[data-work="names"] > a svg .fill {
  fill: #ffed8a;
}

[data-work="fashion"] > a svg {
  transform: rotate(1000deg);
}

[data-work="fashion"] > a svg .fill {
  fill: #c99dce;
}

.opened [data-work="kz"] > a {
  top: -10rem;
  left: -16rem;
}

.opened [data-work="names"] > a {
  top: 12rem;
  left: 4rem;
}

.opened [data-work="fashion"] > a {
  top: -13rem;
  left: 12rem;
}

#popup {
  position: fixed;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  border-radius: 50vmax;
}

#popup.animated {
  transition: border-radius 300ms ease 0ms, width var(--animation-duration), height var(--animation-duration), top var(--animation-duration), left var(--animation-duration), opacity var(--animation-duration);
}

#popup.opened {
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  transition: border-radius 300ms ease 200ms, width var(--animation-duration), height var(--animation-duration), top var(--animation-duration), left var(--animation-duration), opacity var(--animation-duration);
  pointer-events: all;
  opacity: 1;
  border-radius: 0;
}

#popup .content {

}

.name {
  position: absolute;
  right: 10rem;
  box-sizing: border-box;
  width: 30rem;
  padding-top: 8rem;
}

.name svg {
}

.name svg .fill {
  fill: #333;
}

.name .moon {
  position: absolute;
  top: 0;
  right: 4em;
  display: block;
  width: 8em;
  animation: rocking 1s infinite linear;
  animation-play-state: paused;
}

.name .moon .fill {
  fill: #efda63;
}

.name:hover .moon {
  animation-play-state: running;
}

.about {
  position: absolute;
  top: 10rem;
  right: 4rem;
}

@keyframes rocking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.about .photo {
  position: absolute;
  top: 22rem;
  right: 0;
  width: 25rem;
  height: 25rem;
}

.photo {
  position: relative;
}

.photo .img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
}

.photo .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.photo svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.photo svg .background {
  fill: #fff;
}

.photo svg .fill {
  fill: #f4a988;
}

.about .text {
  font-size: 1.9rem;
  font-weight: 200;
  line-height: 1.6em;
  position: absolute;
  top: 28rem;
  right: 6rem;
  width: 46rem;
}

.about .text p:nth-child(1) {
  font-size: 1.4em;
  width: 10rem;
}

.about .text p:nth-child(2) {
  width: 24rem;
}

.about .text p:nth-child(3) {
  margin-top: 13rem;
}

.about .text p:nth-child(4) {
}

.about .text p:nth-child(5) {
  width: 10rem;
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .about .name {
    width: 38rem;
  }

  .about .name .moon {
    top: -1rem;
    right: 5rem;
    width: 9.3rem;
  }

  .about .photo {
    top: 25rem;
    right: 11rem;
    width: 35rem;
    height: 35rem;
  }

  .about .text {
    font-size: 2.9rem;
    top: 61rem;
    right: 2rem;
    width: 50rem;
  }

  .about .text p:nth-child(1) {
    width: 50rem;
  }

  .about .text p:nth-child(2) {
    width: 50rem;
  }

  .about .text p:nth-child(3) {
    width: 50rem;
    margin-top: 2rem;
  }

  .about .text p:nth-child(4) {
    width: 50rem;
  }

  .about .text p:nth-child(5) {
    width: 10rem;
  }

  .project[data-project="illustration"] {
    top: 94rem;
    left: 17rem;
  }

  .project > a {
    width: 23rem;
    height: 23rem;
    margin-top: -11.5rem;
    margin-left: -11.5rem;
  }

  .project > a .label {
    font-size: 3.8rem;
  }

  .opened [data-work="kz"] > a {
    top: -14rem;
    left: 18rem;
  }

  .opened [data-work="fashion"] > a {
    top: 22rem;
    left: -1rem;
  }

  .opened [data-work="names"] > a {
    top: 20rem;
    left: 37rem;
  }

  .opened .work > a {
    width: 24rem;
    height: 24rem;
    margin-top: -12rem;
    margin-left: -12rem;
  }

  .work .label {
    font-size: 4.1rem;
  }
}

footer {
  height: 20em;
  padding-top: 5em;
}

footer .name {
  left: 50%;
  width: 18em;
  margin-left: -9em;
  padding-top: 9em;
}

footer .name .moon {
  right: 50%;
  margin-right: -4em;
}

.moon {
  position: relative;
  display: block;
  transition: transform 100ms;
  animation: rocking 1s infinite linear;
  animation-play-state: paused;
}

.moon .fill {
  fill: #efda63;
}

.moon:hover {
  animation-play-state: running;
}

.moon-50 svg {
  transform: rotate(50deg);
}

.moon-320 svg {
  transform: rotate(320deg);
}

.moon-90 svg {
  transform: rotate(90deg);
}

.moon-270 svg {
  transform: rotate(270deg);
}

.contact {
  position: absolute;
  top: 200em;
  right: 16em;
}

.contact .moon {
  width: 17em;
  height: 17em;
}

.contact .label {
  font-size: 4em;
  font-weight: 200;
  position: absolute;
  top: 1.8em;
  left: 2.3em;
}

.contact .social {
  padding-top: 3em;
  text-align: -webkit-right;
}

.contact .social a {
  margin: 1.2em;
}

.contact .social a svg {
  width: 5em;
  height: 5em;
}

.contact .social a svg .fill {
  transition: fill var(--animation-duration);
  fill: #f4a988;
}

.contact .social a:hover svg .fill {
  fill: #c99dce;
}

.project[data-project="work"] {
  top: 158rem;
  left: 47rem;
}

.project[data-project="work"] > a {
  width: 30em;
  height: 30em;
  margin-top: -15em;
  margin-left: -15em;
}

.project[data-project="work"] > a svg .fill {
  fill: #efda63;
}

.project[data-project="work"] > a .label {
  font-size: 6em;
}

.project[data-project="media"] {
  top: 206em;
  left: 20em;
}

.project[data-project="media"] > a {
  width: 14em;
  height: 14em;
  margin-top: -7em;
  margin-left: -7em;
}

.project[data-project="media"] > a svg .fill {
  fill: #efda63;
}

.project[data-project="media"] > a .label {
  font-size: 2.6em;
}

.coming-soon {
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6em;
  height: 0;
  margin-top: 0;
  margin-left: -3em;
  transition-duration: var(--animation-duration);
  transition-property: width, height, left, top, margin, opacity;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  justify-items: center;
}

.project.opened .coming-soon {
  width: 12em;
  height: 4em;
  margin-top: -2em;
  margin-left: -6em;
  opacity: 1;
}

.coming-soon .label {
  font-weight: 200;
  line-height: 1.5em;
  overflow: hidden;
  height: 1.5em;
  text-align: center;
}

.project.opened .coming-soon .label {
}

.coming-soon .moon {
  flex: 0;
}

.coming-soon .moon svg {
  width: 0;
  height: 0;
  transition-duration: var(--animation-duration);
  transition-property: width, height;
}

.project.opened .coming-soon .moon svg {
  width: 3em;
  height: 3em;
}

.project[data-project="media"] .coming-soon {
  font-size: 2em;
}

.calendar {
  position: absolute;
  top: 226rem;
  left: 30rem;
}

.calendar > a {
  position: absolute;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 20em;
  height: 20em;
  margin-top: -10em;
  margin-left: -10em;
  transition: transform var(--animation-duration), opacity var(--animation-duration);
  opacity: 1;
}

.calendar > a > svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.calendar > a .label {
  font-size: 3.4rem;
  font-weight: 200;
  position: relative;
  transition: opacity var(--animation-duration);
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
}
.calendar > a .label b {
  display: block;
  font-size: 1.2em;
}

.calendar > a svg {
  animation: wobble 5s infinite;
}

.calendar > a:hover svg {
  animation-play-state: paused;
}
.calendar > a svg .fill {
  fill: #efda63;
}
