.moons {
  display: flex;
  margin: 2rem;
}

.moons .moon {
  margin: 1em;
}

.moon {
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 100ms;
  animation: rocking 1s infinite linear;
  animation-play-state: paused;
}

.moon .fill {
  fill: #efda63;
}

.moon:hover {
  animation-play-state: running;
}

.moon-50 svg {
  transform: rotate(50deg);
}

.moon-320 svg {
  transform: rotate(320deg);
}

.moon-90 svg {
  transform: rotate(90deg);
}

.name {
  position: relative;
  box-sizing: border-box;
  width: 30rem;
  margin: 2rem;
}

.name svg {
  width: 100%;
}

.photo {
  position: relative;
  top: 0;
  width: 50rem;
  height: 50rem;
  margin: 2rem;
}

.moon-full {
  font-size: 6rem;
  font-weight: 200;
  position: relative;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  height: 40rem;
  margin: 2rem;
  text-transform: lowercase;
}

.moon-full svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.moon-full .fill {
  fill: #efda63;
}

.moon-full span {
  position: relative;
}

.moon-half {
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}

.moon-half svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.moon-half .fill {
  fill: #efda63;
}
