#illustration-names {
  background: #ffed8a;
}

#illustration-names .center {
  position: relative;
  width: 100em;
  margin: 0 auto;
}

#illustration-names .top {
  position: relative;
  height: 70em;
  padding-top: 10em;
}

#illustration-names .head {
  font-size: 1.6em;
  position: relative;
  z-index: 1;
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto;
}

#illustration-names .head .label {
  font-size: 1.5em;
  font-weight: 200;
  position: absolute;
  top: 3.7em;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

#illustration-names .head .moon {
  position: absolute;
  top: 1.3em;
  left: 50%;
  width: 4em;
  margin-left: -2em;
}

#illustration-names .head .moon .fill {
  fill: #efda63;
}

#illustration-names .head .frame {
}

#illustration-names .head .frame .fill {
  fill: #ffffff;
}

#illustration-names .head .frame .background {
  fill: transparent;
}

#illustration-names .girl-main {
  position: relative;
  top: -3em;
  left: 14em;
  width: 70em;
}

#illustration-names .girl-main img {
  width: 100%;
  height: 100%;
}

#illustration-names .page-name {
  position: absolute;
  top: 8em;
  left: 51em;
  width: 22em;
}

#illustration-names .page-name .background {
  transform: rotate(190deg);
}

#illustration-names .page-name .fill {
  fill: #efda63;
}

#illustration-names .page-name .label {
  font-size: 3em;
  font-weight: 200;
  position: absolute;
  right: 0;
  bottom: 3.2em;
  left: 0;
  text-align: center;
}

#illustration-names .page-name .label b {
  font-size: 1.5em;
}

#illustration-names .more-girls {
  height: 84em;
}

#illustration-names .more-girls img {
  width: 100%;
  height: 100%;
}

#illustration-names .more-girls .girl-baian {
  position: absolute;
  top: 15em;
  left: 3em;
  width: 65em;
}

#illustration-names .more-girls .girl-aigul {
  position: absolute;
  top: 5em;
  left: 66em;
  width: 31em;
}

#illustration-names .more-girls .girl-aigul-name {
  position: absolute;
  top: 27em;
  left: 57em;
  width: 10em;
}
