#illustration-kz {
  background: #f4a988;
}

#illustration-kz .top {
  position: relative;
  width: 100em;
  min-height: 120em;
  margin: 0 auto;
  padding: 10em 0;
}

#illustration-kz .head {
  font-size: 1.6em;
  position: relative;
  z-index: 1;
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto;
}

#illustration-kz .head .label {
  font-size: 1.5em;
  font-weight: 200;
  position: absolute;
  top: 3.7em;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

#illustration-kz .head .moon {
  position: absolute;
  top: 1.3em;
  left: 50%;
  width: 4em;
  margin-left: -2em;
}

#illustration-kz .head .moon .fill {
  fill: #efda63;
}

#illustration-kz .head .frame {
}

#illustration-kz .head .frame .fill {
  fill: #ffffff;
}

#illustration-kz .head .frame .background {
  fill: transparent;
}

#illustration-kz .girl-main {
  position: relative;
  top: -4em;
  left: -13em;
  width: 90em;
}

#illustration-kz .girl-main img {
  width: 100%;
  height: 100%;
}

#illustration-kz .page-name {
  position: absolute;
  top: 9em;
  left: 59em;
  width: 26em;
}

#illustration-kz .page-name .background {
  transform: rotate(110deg);
}

#illustration-kz .page-name .fill {
  fill: #efda63;
}

#illustration-kz .page-name .label {
  font-size: 2.5em;
  font-weight: 200;
  position: absolute;
  right: 0;
  bottom: 2.7em;
  left: 0;
  text-align: center;
  text-transform: uppercase;
}

#illustration-kz .page-name .label b {
  font-size: 1.6em;
}

#illustration-kz .more-girls {
  padding: 2em;
  text-align: center;
  vertical-align: middle;
  background: #fff;
}

#illustration-kz .more-girls img {
  width: 100%;
  height: 100%;
}

#illustration-kz .more-girls .girl-02 {
  display: inline-block;
  width: 30em;
  vertical-align: middle;
}

#illustration-kz .more-girls .girl-03 {
  display: inline-block;
  width: 39em;
  margin-left: 7em;
  vertical-align: middle;
}

#illustration-kz .girl-01 {
  position: absolute;
  top: 63em;
  left: 70em;
  width: 29em;
}

#illustration-kz .girl-01 img {
  width: 100%;
  height: 100%;
}
